/* backgrond */
.bnc{background:no-repeat center;}
.bnt{background:no-repeat top;}
.bnb{background:no-repeat bottom;}
.bsc{background-size:cover;}
.bsi{background-size:initial;}
.baf{background-attachment:fixed;}

/* align */
.tar{text-align:right;}
.tal{text-align:left;}
.tac{text-align:center;}
.taj{text-align:justify;}


/* float */
.fr{float:right;}
.fl{float:left;}
.fn{float:none;}

/* clear */
.clb{clear:both;}
.clr{clear:right;}
.cll{clear:left;}
.cln{clear:none;}

/* position */
.ps{position:static;}
.pr{position:relative;}
.pa{position:absolute;}
.pf{position:fixed;}
.pi{position:initial;}

/* display */
.db{display:block;}
.di{display:inline-block;}
.dn{display:none;}
.dt{display:table;}
.dtc{display:table-cell;}

/* visibility */
.vh{visibility:hidden;}
.vv{visibility:visible;}
.vi{visibility:initial;}


/* Flex Box */
.df{display:flex;}
.dif{display:inline-flex;}
.fdr{flex-direction:row;}
.fdrr{flex-direction:row-reverse;}
.fdc{flex-direction:column;}
.fdcr{flex-direction:column-reverse;}
.fwn{flex-wrap:nowrap;}
.fw{flex-wrap:wrap;}
.fwr{flex-wrap:wrap-reverse;}
.jcfs{justify-content:flex-start;}
.jcfe{justify-content:flex-end;}
.jcc{justify-content:center;}
.jcsb{justify-content:space-between;}
.jcsa{justify-content:space-around;}
.acs{align-content:stretch;}
.acfs{align-content:flex-start;}
.acfe{align-content:flex-end;}
.acc{align-content:center;}
.acsb{align-content:space-between;}
.acsa{align-content:space-around;}
.ais{align-items:stretch;}
.aifs{align-items:flex-start;}
.aife{align-items:flex-end;}
.aic{align-items:center;}
.aib{align-items:baseline;}
.asa{align-self:auto;}
.ass{align-self:stretch;}
.asfs{align-self:flex-start;}
.asfe{align-self:flex-end;}
.asc{align-self:center;}
.asb{align-self:baseline;}


/* table layout */
.tlf{table-layout:fixed;}


/* ellipsis */
.ellipsis{display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

/* line-height * line-clamp */
$lineClampHeight:1.5;

@for $i from 2 to 10{
    .lc#{$i}{
        display:-webkit-box; -webkit-line-clamp:$i; line-height:$lineClampHeight; -webkit-box-orient:vertical; overflow:hidden; text-overflow: ellipsis;
    }
}


/* IE에서 2줄 이상의 말줄임 처리를 위한 유사 핵 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @for $i from 2 to 10{
        .lc#{$i}{
            display:block; height:$i * $lineClampHeight + rem;
        }
    }
}

/* Fonts Style */
.fsn{font-style:normal;}
.fsi{font-style:italic;}
.fso{font-style:oblique;}
.fs.initial{font-style:initial;}
.fs.inherit{font-style:inherit;}

/* word */
.wb{word-break:break-all;}											
.wsn{white-space:nowrap;}											
.wsp{white-space:pre;}												
.wspl{white-space:pre-line;}											

/* hidden */
.hide{display:none;}
.hidden{visibility:hidden;}
.blind{position:absolute; font-size:0px; line-height:0; top:-9999%; left:-9999%; text-indent:-9999%;}

/* border */
.bn{border:0;}.bt0{border-top:0;}.br0{border-right:0;}.bb0{border-bottom:0;}.bl0{border-left:0;}

/* color */
@for $i from 0 to 256{
    .c#{$i}{
        color:rgb($i, $i, $i);
    }
}

/* font-weight */
@for $i from 1 to 10{
    .fw#{$i * 100}{
        font-weight:$i * 100
    } 
}


/* font-size (px) */
@for $i from 1 to 1{
    .fs#{$i}px{
        font-size:#{$i} + px
    } 
}

/* font-size (rem) */
@for $i from 1 to 11{
    @for $j from 0 to 10{
        .fs#{$i}0#{$j}rem{
            font-size:$i + $j * 0.1rem
        } 
    }
}

/* line-height (rem) */
@for $i from 1 to 11{
    @for $j from 0 to 10{
        @if($j == 0) {
            .lh#{$i}rem{
                line-height:#{$i} + rem
            } 
        } @else if($i < 10) {
            .lh#{$i}0#{$j}rem{
                line-height:$i + $j * 0.1rem
            } 
        }
    }
}

/* line-height (valu * font-size) */
@for $i from 1 to 10{
    @for $j from 0 to 10{
        @if($j == 0) {
            .lh#{$i}{
                line-height:$i
            } 
        } @else if($i < 10) {
            .lh#{$i}0#{$j}{
                line-height:$i + $j * 0.1
            } 
        }
    }
}

/* line-height (px) */
@for $i from 1 to 1{
    .lh#{$i}px{
        line-height:#{$i} + px
    } 
}


/* line-height (vh) */
@for $i from 1 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .lh#{$i}vh{
                line-height:#{$i} + vh
            } 
        } @else if($i < 10) {
            .lh#{$i}0#{$j}vh{
                line-height:$i + $j * 0.1vh
            } 
        }
    }
}


/* padding (all - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .pa#{$i}{
            padding:0
        } 
    } @else if($i < 10) {
        .pa#{$i}px{
            padding:#{$i} + px
        } 
    }
   
}

/* padding (top - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .pt#{$i}{
            padding-top:0
        } 
    } @else if($i < 10) {
        .pt#{$i}px{
            padding-top:#{$i} + px
        } 
    }
}

/* padding (right - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .pr#{$i}{
            padding-right:0
        } 
    } @else if($i < 10) {
        .pr#{$i}px{
            padding-right:#{$i} + px
        } 
    }
}

/* padding (bottom - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .pb#{$i}{
            padding-bottom:0
        } 
    } @else if($i < 10) {
        .pb#{$i}px{
            padding-bottom:#{$i} + px
        } 
    }
}

/* padding (left - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .pl#{$i}{
            padding-left:0
        } 
    } @else if($i < 10) {
        .pl#{$i}px{
            padding-left:#{$i} + px
        } 
    }
}

/* margin (all - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .ma#{$i}{
            margin:0
        } 
    } @else if($i < 10) {
        .ma#{$i}px{
            margin:#{$i} + px
        } 
    }
}

/* margin (top - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .mt#{$i}{
            margin-top:0
        } 
    } @else if($i < 10) {
        .mt#{$i}px{
            margin-top:#{$i} + px
        } 
    }
}

/* margin (right - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .mr#{$i}{
            margin-right:0
        } 
    } @else if($i < 10) {
        .mr#{$i}px{
            margin-right:#{$i} + px
        } 
    }
}

/* margin (bottom - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .mb#{$i}{
            margin-bottom:0
        } 
    } @else if($i < 10) {
        .mb#{$i}px{
            margin-bottom:#{$i} + px
        } 
    }
}

/* margin (left - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .ml#{$i}{
            margin-left:0
        } 
    } @else if($i < 10) {
        .ml#{$i}px{
            margin-left:#{$i} + px
        } 
    }
}

/* padding (top) */
@for $i from 1 to 11{
    @for $j from 0 to 10{
        @if($j == 0) {
            .pt#{$i}rem{
                padding-top:#{$i} + rem
            } 
        } @else if($i < 10) {
            .pt#{$i}0#{$j}rem{
                padding-top:$i + $j * 0.1rem
            } 
        }
    }
}

/* padding (right) */
@for $i from 1 to 11{
    @for $j from 0 to 10{
        @if($j == 0) {
            .pr#{$i}rem{
                padding-right:#{$i} + rem
            } 
        } @else if($i < 10) {
            .pr#{$i}0#{$j}rem{
                padding-right:$i + $j * 0.1rem
            } 
        }
    }
}

/* padding (bottom) */
@for $i from 1 to 11{
    @for $j from 0 to 10{
        @if($j == 0) {
            .pb#{$i}rem{
                padding-bottom:#{$i} + rem
            } 
        } @else if($i < 10) {
            .pb#{$i}0#{$j}rem{
                padding-bottom:$i + $j * 0.1rem
            } 
        }
    }
}

/* padding (left) */
@for $i from 1 to 11{
    @for $j from 0 to 10{
        @if($j == 0) {
            .pl#{$i}rem{
                padding-left:#{$i} + rem
            } 
        } @else if($i < 10) {
            .pl#{$i}0#{$j}rem{
                padding-left:$i + $j * 0.1rem
            } 
        }
    }
}

/* margin (top) */
@for $i from 1 to 11{
    @for $j from 0 to 10{
        @if($j == 0) {
            .mt#{$i}rem{
                margin-top:#{$i} + rem
            } 
        } @else if($i < 10) {
            .mt#{$i}0#{$j}rem{
                margin-top:$i + $j * 0.1rem
            } 
        }
    }
}

/* margin (right) */
@for $i from 1 to 11{
    @for $j from 0 to 10{
        @if($j == 0) {
            .mr#{$i}rem{
                margin-right:#{$i} + rem
            } 
        } @else if($i < 10) {
            .mr#{$i}0#{$j}rem{
                margin-right:$i + $j * 0.1rem
            } 
        }
    }
}

/* margin (bottom) */
@for $i from 1 to 11{
    @for $j from 0 to 10{
        @if($j == 0) {
            .mb#{$i}rem{
                margin-bottom:#{$i} + rem
            } 
        } @else if($i < 10) {
            .mb#{$i}0#{$j}rem{
                margin-bottom:$i + $j * 0.1rem
            } 
        }
    }
}

/* margin (left) */
@for $i from 1 to 11{
    @for $j from 0 to 10{
        @if($j == 0) {
            .ml#{$i}rem{
                margin-left:#{$i} + rem
            } 
        } @else if($i < 10) {
            .ml#{$i}0#{$j}rem{
                margin-left:$i + $j * 0.1rem
            } 
        }
    }
}

/* width (%) */
@for $i from 1 to 101{
    .w#{$i}p{
        width:#{$i} + #{'%'}
    } 
}

/* width (vw) */
@for $i from 0 to 1{
    .w#{$i}vw{
        width:#{$i} + vw
    } 
}

/* width (rem) */
@for $i from 1 to 20{
    .w#{$i}rem{
        width:#{$i} + rem
    } 
}

/* width (px) max : 1921 */
@for $i from 0 to 1{
    @if($i == 0) {
        .w#{$i}{
            width:$i
        } 
    } @else if($i < 10) {
        .w#{$i}px{
            width:$i + px
        } 
    }
}

/* height (px) max : 1081 */
@for $i from 0 to 1{
    @if($i == 0) {
        .h#{$i}{
            height:$i
        } 
    } @else if($i < 10) {
        .h#{$i}px{
            height:$i + px
        } 
    }
}


/* height (%) max : 101 */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .h#{$i}p{
                height:#{$i} + #{'%'}
            } 
        } @else if($i < 10) {
            .h#{$i}0#{$j}p{
                height:$i + $j * 0.1 + #{'%'}
            } 
        }
    }
}

/* height (vh) */
@for $i from 0 to 11{
    @for $j from 0 to 10{
        @if($j == 0) {
            .h#{$i}vh{
                width:#{$i} + vh
            } 
        } @else if($i < 10) {
            .h#{$i}0#{$j}vh{
                width:$i + $j * 0.1vh
            } 
        }
    }
}

/* top */
@for $i from 0 to 1{
    @if($i == 0) {
        .t#{$i}{
            top:$i
        } 
    } @else if($i < 10) {
        .t#{$i}px{
            top:$i + px
        } 
    }
}

@for $i from 1 to 11{
    @for $j from 0 to 10{
        @if($j == 0) {
            .t#{$i}rem{
                top:#{$i} + rem
            } 
        } @else if($i < 10) {
            .t#{$i}0#{$j}rem{
                top:$i + $j * 0.1rem
            } 
        }
    }
}

/* right */
@for $i from 0 to 1{
    @if($i == 0) {
        .r#{$i}{
            right:$i
        } 
    } @else if($i < 10) {
        .r#{$i}px{
            right:$i + px
        } 
    }
}

@for $i from 1 to 11{
    @for $j from 0 to 10{
        @if($j == 0) {
            .r#{$i}rem{
                right:#{$i} + rem
            } 
        } @else if($i < 10) {
            .r#{$i}0#{$j}rem{
                right:$i + $j * 0.1rem
            } 
        }
    }
}

/* bottom */
@for $i from 0 to 1{
    @if($i == 0) {
        .b#{$i}{
            bottom:$i
        } 
    } @else if($i < 10) {
        .b#{$i}px{
            bottom:$i + px
        } 
    }
}

@for $i from 1 to 11{
    @for $j from 0 to 10{
        @if($j == 0) {
            .b#{$i}rem{
                bottom:#{$i} + rem
            } 
        } @else if($i < 10) {
            .b#{$i}0#{$j}rem{
                bottom:$i + $j * 0.1rem
            } 
        }
    }
}

/* left */
@for $i from 0 to 1{
    @if($i == 0) {
        .l#{$i}{
            left:$i
        } 
    } @else if($i < 10) {
        .l#{$i}px{
            left:$i + px
        } 
    }
}

@for $i from 1 to 11{
    @for $j from 0 to 10{
        @if($j == 0) {
            .l#{$i}rem{
                left:#{$i} + rem
            } 
        } @else if($i < 10) {
            .l#{$i}0#{$j}rem{
                left:$i + $j * 0.1rem
            } 
        }
    }
}


/* 스크롤 바 숨기기 */
.invisible-scroll{-ms-overflow-style:none; /* IE and Edge */  scrollbar-width:none;  /* Firefox */}
.invisible-scroll::-webkit-scrollbar{display:none;}

/* 웹 접근성 가리기 */
.wa{position:absolute; z-index:-999; opacity:0; width:0; height:0; left:-999%; top:-999%;}

/* align */
:not(.init).vat{vertical-align:top;}
:not(.init).vam{vertical-align:middle;}
:not(.init).vab{vertical-align:bottom;}


/* Overflow */
.oh{overflow:hidden;}
.oxh{overflow-x:hidden;}
.oyh{overflow-y:hidden;}
.oxa{overflow-x:auto;}
.oya{overflow-y:auto;}

/* Input 엘리먼트 다국어 설정 */
input.de{ime-mode:inactive;}	        /* 기본 영문입력 default-english */
input.dk{ime-mode:active;}		        /* 기본 한글입력 default-korean */
input.al{ime-mode:auto;}		        /* 자동 선택입력 auto-language */
input.oe{ime-mode:disabled;}		    /* 고정 영문입력 only-enlish */

   
/* 마우스 커서 정의 */
.cp{cursor:pointer;}
.cd{cursor:default;}
.cm{cursor:move;}
.ct{cursor:text;}
.cw{cursor:wait;}
.cn{cursor:none;}

/* 그리드 시스템 */
[class^=grid-],
[class^=col-]{clear:none; float:left;}

.row::after{position:initial; display:block; clear:both;}
.rowfull{display:inline-block; width:100%; vertical-align:top;}

.padded-left { padding-left: 1rem; }
.padded-right { padding-right: 1rem; }
.padded-top { padding-top: 1rem; }
.padded-bottom { padding-bottom: 1rem; }
.padded-sides { padding: 0 1rem; }
.padded-vertical { padding: 1rem 0; }
.padded-inner { padding: 1rem; }
.padded-inner-sides { padding: 0 1rem; }
.padded-reverse { margin: 0 -1rem; width: auto; box-sizing: content-box; float: none; }
.padded-reverse-all { margin: -1rem; width: auto; box-sizing: content-box; float: none; }

/* 12 Columns Grid System */
@for $i from 1 to 13{
    .grid-#{$i}{
        width:$i * calc(100/12) + #{'%'}
    } 
}

/* 그리드 시스템에서 오프셋은 반드시 촤측 값만 가집니다. */
@for $i from 1 to 13{
    .offset-#{$i}{
        margin-left:$i * calc(100/12) + #{'%'}
    } 
}


/* [ .ul- ] Ultra Large */
@media(max-width:1600px){
    .ul-grid-1{width:8.3333333333%}.ul-grid-2{width:16.6666666667%}.ul-grid-3{width:25%}.ul-grid-4{width:33.3333333333%}.ul-grid-5{width:41.6666666667%}.ul-grid-6{width:50%}.ul-grid-7{width:58.3333333333%}.ul-grid-8{width:66.6666666667%}.ul-grid-9{width:75%}.ul-grid-10{width:83.3333333333%}.ul-grid-11{width:91.6666666667%}.ul-grid-12{width:100%}.ul-offset-1{margin-left:8.3333333333%}.ul-offset-2{margin-left:16.6666666667%}.ul-offset-3{margin-left:25%}.ul-offset-4{margin-left:33.3333333333%}.ul-offset-5{margin-left:41.6666666667%}.ul-offset-6{margin-left:50%}.ul-offset-7{margin-left:58.3333333333%}.ul-offset-8{margin-left:66.6666666667%}.ul-offset-9{margin-left:75%}.ul-offset-10{margin-left:83.3333333333%}.ul-offset-11{margin-left:91.6666666667%}.ul-offset-12{margin-left:100%}
    .ul-tar{text-align:right}.ul-tal{text-align:left}.ul-tac{text-align:center}.ul-taj{text-align:justify}.ul-db{display:block}.ul-di{display:inline-block}.ul-dn{display:none}.ul-dt{display:table}.ul-dtc{display:table-cell}
    .ul-fr{float:right}.ul-fl{float:left}.ul-fn{float:none}
}
/* [ .el- ] Extra Large */
@media(max-width:1400px){
    .el-grid-1{width:8.3333333333%}.el-grid-2{width:16.6666666667%}.el-grid-3{width:25%}.el-grid-4{width:33.3333333333%}.el-grid-5{width:41.6666666667%}.el-grid-6{width:50%}.el-grid-7{width:58.3333333333%}.el-grid-8{width:66.6666666667%}.el-grid-9{width:75%}.el-grid-10{width:83.3333333333%}.el-grid-11{width:91.6666666667%}.el-grid-12{width:100%}.el-offset-1{margin-left:8.3333333333%}.el-offset-2{margin-left:16.6666666667%}.el-offset-3{margin-left:25%}.el-offset-4{margin-left:33.3333333333%}.el-offset-5{margin-left:41.6666666667%}.el-offset-6{margin-left:50%}.el-offset-7{margin-left:58.3333333333%}.el-offset-8{margin-left:66.6666666667%}.el-offset-9{margin-left:75%}.el-offset-10{margin-left:83.3333333333%}.el-offset-11{margin-left:91.6666666667%}.el-offset-12{margin-left:100%}
    .el-tar{text-align:right}.el-tal{text-align:left}.el-tac{text-align:center}.el-taj{text-align:justify}.el-db{display:block}.el-di{display:inline-block}.el-dn{display:none}.el-dt{display:table}.el-dtc{display:table-cell}
    .el-fr{float:right}.el-fl{float:left}.el-fn{float:none}
}
/* [ .lg- ] Large */
@media(max-width:1280px){
    .lg-grid-1{width:8.3333333333%}.lg-grid-2{width:16.6666666667%}.lg-grid-3{width:25%}.lg-grid-4{width:33.3333333333%}.lg-grid-5{width:41.6666666667%}.lg-grid-6{width:50%}.lg-grid-7{width:58.3333333333%}.lg-grid-8{width:66.6666666667%}.lg-grid-9{width:75%}.lg-grid-10{width:83.3333333333%}.lg-grid-11{width:91.6666666667%}.lg-grid-12{width:100%}.lg-offset-1{margin-left:8.3333333333%}.lg-offset-2{margin-left:16.6666666667%}.lg-offset-3{margin-left:25%}.lg-offset-4{margin-left:33.3333333333%}.lg-offset-5{margin-left:41.6666666667%}.lg-offset-6{margin-left:50%}.lg-offset-7{margin-left:58.3333333333%}.lg-offset-8{margin-left:66.6666666667%}.lg-offset-9{margin-left:75%}.lg-offset-10{margin-left:83.3333333333%}.lg-offset-11{margin-left:91.6666666667%}.lg-offset-12{margin-left:100%}
    .lg-tar{text-align:right}.lg-tal{text-align:left}.lg-tac{text-align:center}.lg-taj{text-align:justify}.lg-db{display:block}.lg-di{display:inline-block}.lg-dn{display:none}.lg-dt{display:table}.lg-dtc{display:table-cell}
    .lg-fr{float:right}.lg-fl{float:left}.lg-fn{float:none}
}
/* [ .md- ] Medium */
@media(max-width:1024px){
    .md-grid-1{width:8.3333333333%}.md-grid-2{width:16.6666666667%}.md-grid-3{width:25%}.md-grid-4{width:33.3333333333%}.md-grid-5{width:41.6666666667%}.md-grid-6{width:50%}.md-grid-7{width:58.3333333333%}.md-grid-8{width:66.6666666667%}.md-grid-9{width:75%}.md-grid-10{width:83.3333333333%}.md-grid-11{width:91.6666666667%}.md-grid-12{width:100%}.md-offset-1{margin-left:8.3333333333%}.md-offset-2{margin-left:16.6666666667%}.md-offset-3{margin-left:25%}.md-offset-4{margin-left:33.3333333333%}.md-offset-5{margin-left:41.6666666667%}.md-offset-6{margin-left:50%}.md-offset-7{margin-left:58.3333333333%}.md-offset-8{margin-left:66.6666666667%}.md-offset-9{margin-left:75%}.md-offset-10{margin-left:83.3333333333%}.md-offset-11{margin-left:91.6666666667%}.md-offset-12{margin-left:100%}
    .md-tar{text-align:right}.md-tal{text-align:left}.md-tac{text-align:center}.md-taj{text-align:justify}.md-db{display:block}.md-di{display:inline-block}.md-dn{display:none}.md-dt{display:table}.md-dtc{display:table-cell}
    .md-fr{float:right}.md-fl{float:left}.md-fn{float:none}
}
/* [ .sm- ] Small */
@media(max-width:768px){
    .sm-grid-1{width:8.3333333333%}.sm-grid-2{width:16.6666666667%}.sm-grid-3{width:25%}.sm-grid-4{width:33.3333333333%}.sm-grid-5{width:41.6666666667%}.sm-grid-6{width:50%}.sm-grid-7{width:58.3333333333%}.sm-grid-8{width:66.6666666667%}.sm-grid-9{width:75%}.sm-grid-10{width:83.3333333333%}.sm-grid-11{width:91.6666666667%}.sm-grid-12{width:100%}.sm-offset-1{margin-left:8.3333333333%}.sm-offset-2{margin-left:16.6666666667%}.sm-offset-3{margin-left:25%}.sm-offset-4{margin-left:33.3333333333%}.sm-offset-5{margin-left:41.6666666667%}.sm-offset-6{margin-left:50%}.sm-offset-7{margin-left:58.3333333333%}.sm-offset-8{margin-left:66.6666666667%}.sm-offset-9{margin-left:75%}.sm-offset-10{margin-left:83.3333333333%}.sm-offset-11{margin-left:91.6666666667%}.sm-offset-12{margin-left:100%}
    .sm-tar{text-align:right}.sm-tal{text-align:left}.sm-tac{text-align:center}.sm-taj{text-align:justify}.sm-db{display:block}.sm-di{display:inline-block}.sm-dn{display:none}.sm-dt{display:table}.sm-dtc{display:table-cell}
    .sm-fr{float:right}.sm-fl{float:left}.sm-fn{float:none}
}
/* [ .es- ] Extra Small */
@media(max-width:640px){
    .es-grid-1{width:8.3333333333%}.es-grid-2{width:16.6666666667%}.es-grid-3{width:25%}.es-grid-4{width:33.3333333333%}.es-grid-5{width:41.6666666667%}.es-grid-6{width:50%}.es-grid-7{width:58.3333333333%}.es-grid-8{width:66.6666666667%}.es-grid-9{width:75%}.es-grid-10{width:83.3333333333%}.es-grid-11{width:91.6666666667%}.es-grid-12{width:100%}.es-offset-1{margin-left:8.3333333333%}.es-offset-2{margin-left:16.6666666667%}.es-offset-3{margin-left:25%}.es-offset-4{margin-left:33.3333333333%}.es-offset-5{margin-left:41.6666666667%}.es-offset-6{margin-left:50%}.es-offset-7{margin-left:58.3333333333%}.es-offset-8{margin-left:66.6666666667%}.es-offset-9{margin-left:75%}.es-offset-10{margin-left:83.3333333333%}.es-offset-11{margin-left:91.6666666667%}.es-offset-12{margin-left:100%}
    .es-tar{text-align:right}.es-tal{text-align:left}.es-tac{text-align:center}.es-taj{text-align:justify}.es-db{display:block}.es-di{display:inline-block}.es-dn{display:none}.es-dt{display:table}.es-dtc{display:table-cell}
    .es-fr{float:right}.es-fl{float:left}.es-fn{float:none}
}
/* [ .us- ] Ultra Small */
@media(max-width:420px){
    .us-grid-1{width:8.3333333333%}.us-grid-2{width:16.6666666667%}.us-grid-3{width:25%}.us-grid-4{width:33.3333333333%}.us-grid-5{width:41.6666666667%}.us-grid-6{width:50%}.us-grid-7{width:58.3333333333%}.us-grid-8{width:66.6666666667%}.us-grid-9{width:75%}.us-grid-10{width:83.3333333333%}.us-grid-11{width:91.6666666667%}.us-grid-12{width:100%}.us-offset-1{margin-left:8.3333333333%}.us-offset-2{margin-left:16.6666666667%}.us-offset-3{margin-left:25%}.us-offset-4{margin-left:33.3333333333%}.us-offset-5{margin-left:41.6666666667%}.us-offset-6{margin-left:50%}.us-offset-7{margin-left:58.3333333333%}.us-offset-8{margin-left:66.6666666667%}.us-offset-9{margin-left:75%}.us-offset-10{margin-left:83.3333333333%}.us-offset-11{margin-left:91.6666666667%}.us-offset-12{margin-left:100%}
    .us-tar{text-align:right}.us-tal{text-align:left}.us-tac{text-align:center}.us-taj{text-align:justify}.us-db{display:block}.us-di{display:inline-block}.us-dn{display:none}.us-dt{display:table}.us-dtc{display:table-cell}
    .us-fr{float:right}.us-fl{float:left}.us-fn{float:none}
}
