/* ****************************************************************************************************************************************************************************** */

/* ellipsis */
.ellipsis{display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

/* 스크롤 바 숨기기 */
.invisible-scroll{-ms-overflow-style:none; /* IE and Edge */  scrollbar-width:none;  /* Firefox */}
.invisible-scroll::-webkit-scrollbar{display:none;}

/* Input 엘리먼트 다국어 설정 */
input.de{ime-mode:inactive;}	        /* 기본 영문입력 default-english */
input.dk{ime-mode:active;}		        /* 기본 한글입력 default-korean */
input.al{ime-mode:auto;}		        /* 자동 선택입력 auto-language */
input.oe{ime-mode:disabled;}		    /* 고정 영문입력 only-enlish */

/* 그리드 시스템 */
[class^=grid-],
[class^=col-]{clear:none; float:left;}

.row::after{position:initial; display:block; clear:both;}
.rowfull{display:inline-block; width:100%; vertical-align:top;}

/* 웹 접근성 가리기 */
.wa{position:absolute; z-index:-999; opacity:0; width:0; height:0; left:-999%; top:-999%;}

/* ****************************************************************************************************************************************************************************** */


/* ****************************************************************************************************************************************************************************** */

/* backgrond */
.bnc{background:no-repeat center;}
.bnt{background:no-repeat top;}
.bnb{background:no-repeat bottom;}
.bsc{background-size:cover;}
.bsi{background-size:initial;}
.baf{background-attachment:fixed;}

/* align */
.tar{text-align:right;}
.tal{text-align:left;}
.tac{text-align:center;}
.taj{text-align:justify;}

/* float */
.fr{float:right;}
.fl{float:left;}
.fn{float:none;}

/* clear */
.clb{clear:both;}
.clr{clear:right;}
.cll{clear:left;}
.cln{clear:none;}

/* position */
.ps{position:static;}
.pr{position:relative;}
.pa{position:absolute;}
.pf{position:fixed;}
.pi{position:initial;}
.sticky{position:sticky;}

/* display */
.di{display:inline;}
.db{display:block;}
.di{display:inline-block;}
.dn{display:none;}
.dt{display:table;}
.dtc{display:table-cell;}

/* visibility */
.vh{visibility:hidden;}
.vv{visibility:visible;}
.vi{visibility:initial;}

/* Flex Box */
.df{display:flex;}
.dif{display:inline-flex;}
.fdr{flex-direction:row;}
.fdrr{flex-direction:row-reverse;}
.fdc{flex-direction:column;}
.fdcr{flex-direction:column-reverse;}
.fwn{flex-wrap:nowrap;}
.fw{flex-wrap:wrap;}
.fwr{flex-wrap:wrap-reverse;}
.jcfs{justify-content:flex-start;}
.jcfe{justify-content:flex-end;}
.jcc{justify-content:center;}
.jcsb{justify-content:space-between;}
.jcsa{justify-content:space-around;}
.acs{align-content:stretch;}
.acfs{align-content:flex-start;}
.acfe{align-content:flex-end;}
.acc{align-content:center;}
.acsb{align-content:space-between;}
.acsa{align-content:space-around;}
.ais{align-items:stretch;}
.aifs{align-items:flex-start;}
.aife{align-items:flex-end;}
.aic{align-items:center;}
.aib{align-items:baseline;}
.asa{align-self:auto;}
.ass{align-self:stretch;}
.asfs{align-self:flex-start;}
.asfe{align-self:flex-end;}
.asc{align-self:center;}
.asb{align-self:baseline;}

/* table layout */
.tlf{table-layout:fixed;}

/* Fonts Style */
.fsn{font-style:normal;}
.fsi{font-style:italic;}
.fso{font-style:oblique;}
.fs.initial{font-style:initial;}
.fs.inherit{font-style:inherit;}

/* word */
.wb{word-break:break-all;}											
.wsn{white-space:nowrap;}											
.wsp{white-space:pre;}												
.wspl{white-space:pre-line;}											

/* border */
.b0,
.bn{border:0;}
.bt0{border-top:0;}
.br0{border-right:0;}
.bb0{border-bottom:0;}
.bl0{border-left:0;}

/* align */
.vat{vertical-align:top;}
.vam{vertical-align:middle;}
.vab{vertical-align:bottom;}

/* Overflow */
.oa{overflow:auto;}
.oh{overflow:hidden;}
.oxh{overflow-x:hidden;}
.oyh{overflow-y:hidden;}
.oxa{overflow-x:auto;}
.oya{overflow-y:auto;}

/* 마우스 커서 정의 */
.cp{cursor:pointer;}
.cd{cursor:default;}
.cm{cursor:move;}
.ct{cursor:text;}
.cw{cursor:wait;}
.cn{cursor:none;}

/* ****************************************************************************************************************************************************************************** */


/* ****************************************************************************************************************************************************************************** */

$lineClampHeight:1.5;
$maximumPx:101;
$maximumRem:101;
$minimum:10;
$maximum:101;

@for $i from 2 to 10{
    .lc#{$i}{
        display:-webkit-box; -webkit-line-clamp:$i; line-height:$lineClampHeight; -webkit-box-orient:vertical; overflow:hidden; text-overflow: ellipsis;
    }
}


/* IE에서 2줄 이상의 말줄임 처리를 위한 핵 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @for $i from 2 to 10{
        .lc#{$i}{
            display:block; height:$i * $lineClampHeight + rem;
        }
    }
}

/* color */
@for $i from 0 to 256{
    .c#{$i}{
        color:rgb($i, $i, $i);
    }
}

/* font-weight */
@for $i from 1 to 10{
    .fw#{$i * 100}{
        font-weight:$i * 100
    } 
}

/* font-size (px) */
@for $i from 0 to 1{
    .fs#{$i}px{
        font-size:#{$i} + px
    } 
}

/* font-size (rem) */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        .fs#{$i}0#{$j}rem{
            font-size:$i + $j * 0.1rem
        } 
    }
}

/* line-height (rem) */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .lh#{$i}rem{
                line-height:#{$i} + rem
            } 
        } @else if($i < 10) {
            .lh#{$i}0#{$j}rem{
                line-height:$i + $j * 0.1rem
            } 
        }
    }
}

/* line-height (valu * font-size) */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .lh#{$i}{
                line-height:$i
            } 
        } @else if($i < 10) {
            .lh#{$i}0#{$j}{
                line-height:$i + $j * 0.1
            } 
        }
    }
}

/* line-height (px) */
@for $i from 0 to 1{
    .lh#{$i}px{
        line-height:#{$i} + px
    } 
}

/* line-height (vh) */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .lh#{$i}vh{
                line-height:#{$i} + vh
            } 
        } @else if($i < 10) {
            .lh#{$i}0#{$j}vh{
                line-height:$i + $j * 0.1vh
            } 
        }
    }
}


/* padding (all - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .pa#{$i}{
            padding:0
        } 
    } @else if($i < 10) {
        .pa#{$i}px{
            padding:#{$i} + px
        } 
    }
   
}

/* padding (top - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .pt#{$i}{
            padding-top:0
        } 
    } @else if($i < 10) {
        .pt#{$i}px{
            padding-top:#{$i} + px
        } 
    }
}

/* padding (right - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .pr#{$i}{
            padding-right:0
        } 
    } @else if($i < 10) {
        .pr#{$i}px{
            padding-right:#{$i} + px
        } 
    }
}

/* padding (bottom - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .pb#{$i}{
            padding-bottom:0
        } 
    } @else if($i < 10) {
        .pb#{$i}px{
            padding-bottom:#{$i} + px
        } 
    }
}

/* padding (left - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .pl#{$i}{
            padding-left:0
        } 
    } @else if($i < 10) {
        .pl#{$i}px{
            padding-left:#{$i} + px
        } 
    }
}

/* margin (all - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .ma#{$i}{
            margin:0
        } 
    } @else if($i < 10) {
        .ma#{$i}px{
            margin:#{$i} + px
        } 
    }
}

/* margin (top - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .mt#{$i}{
            margin-top:0
        } 
    } @else if($i < 10) {
        .mt#{$i}px{
            margin-top:#{$i} + px
        } 
    }
}

/* margin (right - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .mr#{$i}{
            margin-right:0
        } 
    } @else if($i < 10) {
        .mr#{$i}px{
            margin-right:#{$i} + px
        } 
    }
}

/* margin (bottom - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .mb#{$i}{
            margin-bottom:0
        } 
    } @else if($i < 10) {
        .mb#{$i}px{
            margin-bottom:#{$i} + px
        } 
    }
}

/* margin (left - px) */
@for $i from 0 to 1{
    @if($i == 0) {
        .ml#{$i}{
            margin-left:0
        } 
    } @else if($i < 10) {
        .ml#{$i}px{
            margin-left:#{$i} + px
        } 
    }
}

/* padding (top) */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .pt#{$i}rem{
                padding-top:#{$i} + rem
            } 
        } @else if($i < 10) {
            .pt#{$i}0#{$j}rem{
                padding-top:$i + $j * 0.1rem
            } 
        }
    }
}

/* padding (right) */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .pr#{$i}rem{
                padding-right:#{$i} + rem
            } 
        } @else if($i < 10) {
            .pr#{$i}0#{$j}rem{
                padding-right:$i + $j * 0.1rem
            } 
        }
    }
}

/* padding (bottom) */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .pb#{$i}rem{
                padding-bottom:#{$i} + rem
            } 
        } @else if($i < 10) {
            .pb#{$i}0#{$j}rem{
                padding-bottom:$i + $j * 0.1rem
            } 
        }
    }
}

/* padding (left) */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .pl#{$i}rem{
                padding-left:#{$i} + rem
            } 
        } @else if($i < 10) {
            .pl#{$i}0#{$j}rem{
                padding-left:$i + $j * 0.1rem
            } 
        }
    }
}

/* margin (top) */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .mt#{$i}rem{
                margin-top:#{$i} + rem
            } 
        } @else if($i < 10) {
            .mt#{$i}0#{$j}rem{
                margin-top:$i + $j * 0.1rem
            } 
        }
    }
}

/* margin (right) */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .mr#{$i}rem{
                margin-right:#{$i} + rem
            } 
        } @else if($i < 10) {
            .mr#{$i}0#{$j}rem{
                margin-right:$i + $j * 0.1rem
            } 
        }
    }
}

/* margin (bottom) */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .mb#{$i}rem{
                margin-bottom:#{$i} + rem
            } 
        } @else if($i < 10) {
            .mb#{$i}0#{$j}rem{
                margin-bottom:$i + $j * 0.1rem
            } 
        }
    }
}

/* margin (left) */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .ml#{$i}rem{
                margin-left:#{$i} + rem
            } 
        } @else if($i < 10) {
            .ml#{$i}0#{$j}rem{
                margin-left:$i + $j * 0.1rem
            } 
        }
    }
}

/* width (%) */
@for $i from 0 to 1{
    .w#{$i}p{
        width:#{$i} + #{'%'}
    } 
}

/* width (vw) */
@for $i from 0 to 1{
    .w#{$i}vw{
        width:#{$i} + vw
    } 
}

/* width (rem) */
@for $i from 0 to 1{
    .w#{$i}rem{
        width:#{$i} + rem
    } 
}

/* width (px) max : 1921 */
@for $i from 0 to 1{
    @if($i == 0) {
        .w#{$i}{
            width:$i
        } 
    } @else if($i < 10) {
        .w#{$i}px{
            width:$i + px
        } 
    }
}

/* height (px) max : 1081 */
@for $i from 0 to 1{
    @if($i == 0) {
        .h#{$i}{
            height:$i
        } 
    } @else if($i < 10) {
        .h#{$i}px{
            height:$i + px
        } 
    }
}


/* height (%) max : 101 */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .h#{$i}p{
                height:#{$i} + #{'%'}
            } 
        } @else if($i < 10) {
            .h#{$i}0#{$j}p{
                height:$i + $j * 0.1 + #{'%'}
            } 
        }
    }
}

/* height (vh) */
@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .h#{$i}vh{
                width:#{$i} + vh
            } 
        } @else if($i < 10) {
            .h#{$i}0#{$j}vh{
                width:$i + $j * 0.1vh
            } 
        }
    }
}

/* top */
@for $i from 0 to 1{
    @if($i == 0) {
        .t#{$i}{
            top:$i
        } 
    } @else if($i < 10) {
        .t#{$i}px{
            top:$i + px
        } 
    }
}

@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .t#{$i}rem{
                top:#{$i} + rem
            } 
        } @else if($i < 10) {
            .t#{$i}0#{$j}rem{
                top:$i + $j * 0.1rem
            } 
        }
    }
}

/* right */
@for $i from 0 to 1{
    @if($i == 0) {
        .r#{$i}{
            right:$i
        } 
    } @else if($i < 10) {
        .r#{$i}px{
            right:$i + px
        } 
    }
}

@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .r#{$i}rem{
                right:#{$i} + rem
            } 
        } @else if($i < 10) {
            .r#{$i}0#{$j}rem{
                right:$i + $j * 0.1rem
            } 
        }
    }
}

/* bottom */
@for $i from 0 to 1{
    @if($i == 0) {
        .b#{$i}{
            bottom:$i
        } 
    } @else if($i < 10) {
        .b#{$i}px{
            bottom:$i + px
        } 
    }
}

@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .b#{$i}rem{
                bottom:#{$i} + rem
            } 
        } @else if($i < 10) {
            .b#{$i}0#{$j}rem{
                bottom:$i + $j * 0.1rem
            } 
        }
    }
}

/* left */
@for $i from 0 to 1{
    @if($i == 0) {
        .l#{$i}{
            left:$i
        } 
    } @else if($i < 10) {
        .l#{$i}px{
            left:$i + px
        } 
    }
}

@for $i from 0 to 1{
    @for $j from 0 to 10{
        @if($j == 0) {
            .l#{$i}rem{
                left:#{$i} + rem
            } 
        } @else if($i < 10) {
            .l#{$i}0#{$j}rem{
                left:$i + $j * 0.1rem
            } 
        }
    }
}

/* 12 Columns Grid System */
@for $i from 0 to 1{
    .grid-#{$i}{
        width:$i * calc(100/12) + #{'%'}
    } 
}

/* 그리드 시스템에서 오프셋은 반드시 촤측 값만 가집니다. */
@for $i from 0 to 1{
    .offset-#{$i}{
        margin-left:$i * calc(100/12) + #{'%'}
    } 
}

/* ****************************************************************************************************************************************************************************** */


/* [ .ul- ] Ultra Large */
@media(max-width:1600px){
    .ul-bnc{background:center no-repeat}.ul-bnt{background:top no-repeat}.ul-bnb{background:bottom no-repeat}.ul-bsc{background-size:cover}.ul-bsi{background-size:initial}.ul-baf{background-attachment:fixed}.ul-tar{text-align:right}.ul-tal{text-align:left}.ul-tac{text-align:center}.ul-taj{text-align:justify}.ul-fr{float:right}.ul-fl{float:left}.ul-fn{float:none}.ul-clb{clear:both}.ul-clr{clear:right}.ul-cll{clear:left}.ul-cln{clear:none}.ul-ps{position:static}.ul-pr{position:relative}.ul-pa{position:absolute}.ul-pf{position:fixed}.ul-pi{position:initial}.ul-sticky{position:sticky}.ul-db{display:block}.ul-di{display:inline-block}.ul-dn{display:none}.ul-dt{display:table}.ul-dtc{display:table-cell}.ul-vh{visibility:hidden}.ul-vv{visibility:visible}.ul-vi{visibility:initial}.ul-df{display:flex}.ul-dif{display:inline-flex}.ul-fdr{flex-direction:row}.ul-fdrr{flex-direction:row-reverse}.ul-fdc{flex-direction:column}.ul-fdcr{flex-direction:column-reverse}.ul-fwn{flex-wrap:nowrap}.ul-fw{flex-wrap:wrap}.ul-fwr{flex-wrap:wrap-reverse}.ul-jcfs{justify-content:flex-start}.ul-jcfe{justify-content:flex-end}.ul-jcc{justify-content:center}.ul-jcsb{justify-content:space-between}.ul-jcsa{justify-content:space-around}.ul-acs{align-content:stretch}.ul-acfs{align-content:flex-start}.ul-acfe{align-content:flex-end}.ul-acc{align-content:center}.ul-acsb{align-content:space-between}.ul-acsa{align-content:space-around}.ul-ais{align-items:stretch}.ul-aifs{align-items:flex-start}.ul-aife{align-items:flex-end}.ul-aic{align-items:center}.ul-aib{align-items:baseline}.ul-asa{align-self:auto}.ul-ass{align-self:stretch}.ul-asfs{align-self:flex-start}.ul-asfe{align-self:flex-end}.ul-asc{align-self:center}.ul-asb{align-self:baseline}.ul-tlf{table-layout:fixed}.ul-fsn{font-style:normal}.ul-fsi{font-style:italic}.ul-fso{font-style:oblique}.ul-fs.initial{font-style:initial}.ul-fs.inherit{font-style:inherit}.ul-wb{word-break:break-all}.ul-wsn{white-space:nowrap}.ul-wsp{white-space:pre}.ul-wspl{white-space:pre-line}.b0,.ul-bn{border:0}.ul-bt0{border-top:0}.ul-br0{border-right:0}.ul-bb0{border-bottom:0}.ul-bl0{border-left:0}.ul-vat{vertical-align:top}.ul-vam{vertical-align:middle}.ul-vab{vertical-align:bottom}.ul-oa{overflow:auto}.ul-oh{overflow:hidden}.ul-oxh{overflow-x:hidden}.ul-oyh{overflow-y:hidden}.ul-oxa{overflow-x:auto}.ul-oya{overflow-y:auto}.ul-cp{cursor:pointer}.ul-cd{cursor:default}.ul-cm{cursor:move}.ul-ct{cursor:text}.ul-cw{cursor:wait}.ul-cn{cursor:none}

}
/* [ .el- ] Extra Large */
@media(max-width:1400px){
    .el-bnc{background:center no-repeat}.el-bnt{background:top no-repeat}.el-bnb{background:bottom no-repeat}.el-bsc{background-size:cover}.el-bsi{background-size:initial}.el-baf{background-attachment:fixed}.el-tar{text-align:right}.el-tal{text-align:left}.el-tac{text-align:center}.el-taj{text-align:justify}.el-fr{float:right}.el-fl{float:left}.el-fn{float:none}.el-clb{clear:both}.el-clr{clear:right}.el-cll{clear:left}.el-cln{clear:none}.el-ps{position:static}.el-pr{position:relative}.el-pa{position:absolute}.el-pf{position:fixed}.el-pi{position:initial}.el-sticky{position:sticky}.el-db{display:block}.el-di{display:inline-block}.el-dn{display:none}.el-dt{display:table}.el-dtc{display:table-cell}.el-vh{visibility:hidden}.el-vv{visibility:visible}.el-vi{visibility:initial}.el-df{display:flex}.el-dif{display:inline-flex}.el-fdr{flex-direction:row}.el-fdrr{flex-direction:row-reverse}.el-fdc{flex-direction:column}.el-fdcr{flex-direction:column-reverse}.el-fwn{flex-wrap:nowrap}.el-fw{flex-wrap:wrap}.el-fwr{flex-wrap:wrap-reverse}.el-jcfs{justify-content:flex-start}.el-jcfe{justify-content:flex-end}.el-jcc{justify-content:center}.el-jcsb{justify-content:space-between}.el-jcsa{justify-content:space-around}.el-acs{align-content:stretch}.el-acfs{align-content:flex-start}.el-acfe{align-content:flex-end}.el-acc{align-content:center}.el-acsb{align-content:space-between}.el-acsa{align-content:space-around}.el-ais{align-items:stretch}.el-aifs{align-items:flex-start}.el-aife{align-items:flex-end}.el-aic{align-items:center}.el-aib{align-items:baseline}.el-asa{align-self:auto}.el-ass{align-self:stretch}.el-asfs{align-self:flex-start}.el-asfe{align-self:flex-end}.el-asc{align-self:center}.el-asb{align-self:baseline}.el-tlf{table-layout:fixed}.el-fsn{font-style:normal}.el-fsi{font-style:italic}.el-fso{font-style:oblique}.el-fs.initial{font-style:initial}.el-fs.inherit{font-style:inherit}.el-wb{word-break:break-all}.el-wsn{white-space:nowrap}.el-wsp{white-space:pre}.el-wspl{white-space:pre-line}.b0,.el-bn{border:0}.el-bt0{border-top:0}.el-br0{border-right:0}.el-bb0{border-bottom:0}.el-bl0{border-left:0}.el-vat{vertical-align:top}.el-vam{vertical-align:middle}.el-vab{vertical-align:bottom}.el-oa{overflow:auto}.el-oh{overflow:hidden}.el-oxh{overflow-x:hidden}.el-oyh{overflow-y:hidden}.el-oxa{overflow-x:auto}.el-oya{overflow-y:auto}.el-cp{cursor:pointer}.el-cd{cursor:default}.el-cm{cursor:move}.el-ct{cursor:text}.el-cw{cursor:wait}.el-cn{cursor:none}
}
/* [ .lg- ] Large */
@media(max-width:1280px){
    .lg-bnc{background:center no-repeat}.lg-bnt{background:top no-repeat}.lg-bnb{background:bottom no-repeat}.lg-bsc{background-size:cover}.lg-bsi{background-size:initial}.lg-baf{background-attachment:fixed}.lg-tar{text-align:right}.lg-tal{text-align:left}.lg-tac{text-align:center}.lg-taj{text-align:justify}.lg-fr{float:right}.lg-fl{float:left}.lg-fn{float:none}.lg-clb{clear:both}.lg-clr{clear:right}.lg-cll{clear:left}.lg-cln{clear:none}.lg-ps{position:static}.lg-pr{position:relative}.lg-pa{position:absolute}.lg-pf{position:fixed}.lg-pi{position:initial}.lg-sticky{position:sticky}.lg-db{display:block}.lg-di{display:inline-block}.lg-dn{display:none}.lg-dt{display:table}.lg-dtc{display:table-cell}.lg-vh{visibility:hidden}.lg-vv{visibility:visible}.lg-vi{visibility:initial}.lg-df{display:flex}.lg-dif{display:inline-flex}.lg-fdr{flex-direction:row}.lg-fdrr{flex-direction:row-reverse}.lg-fdc{flex-direction:column}.lg-fdcr{flex-direction:column-reverse}.lg-fwn{flex-wrap:nowrap}.lg-fw{flex-wrap:wrap}.lg-fwr{flex-wrap:wrap-reverse}.lg-jcfs{justify-content:flex-start}.lg-jcfe{justify-content:flex-end}.lg-jcc{justify-content:center}.lg-jcsb{justify-content:space-between}.lg-jcsa{justify-content:space-around}.lg-acs{align-content:stretch}.lg-acfs{align-content:flex-start}.lg-acfe{align-content:flex-end}.lg-acc{align-content:center}.lg-acsb{align-content:space-between}.lg-acsa{align-content:space-around}.lg-ais{align-items:stretch}.lg-aifs{align-items:flex-start}.lg-aife{align-items:flex-end}.lg-aic{align-items:center}.lg-aib{align-items:baseline}.lg-asa{align-self:auto}.lg-ass{align-self:stretch}.lg-asfs{align-self:flex-start}.lg-asfe{align-self:flex-end}.lg-asc{align-self:center}.lg-asb{align-self:baseline}.lg-tlf{table-layout:fixed}.lg-fsn{font-style:normal}.lg-fsi{font-style:italic}.lg-fso{font-style:oblique}.lg-fs.initial{font-style:initial}.lg-fs.inherit{font-style:inherit}.lg-wb{word-break:break-all}.lg-wsn{white-space:nowrap}.lg-wsp{white-space:pre}.lg-wspl{white-space:pre-line}.b0,.lg-bn{border:0}.lg-bt0{border-top:0}.lg-br0{border-right:0}.lg-bb0{border-bottom:0}.lg-bl0{border-left:0}.lg-vat{vertical-align:top}.lg-vam{vertical-align:middle}.lg-vab{vertical-align:bottom}.lg-oa{overflow:auto}.lg-oh{overflow:hidden}.lg-oxh{overflow-x:hidden}.lg-oyh{overflow-y:hidden}.lg-oxa{overflow-x:auto}.lg-oya{overflow-y:auto}.lg-cp{cursor:pointer}.lg-cd{cursor:default}.lg-cm{cursor:move}.lg-ct{cursor:text}.lg-cw{cursor:wait}.lg-cn{cursor:none}

}
/* [ .md- ] Medium */
@media(max-width:1024px){
    .md-bnc{background:center no-repeat}.md-bnt{background:top no-repeat}.md-bnb{background:bottom no-repeat}.md-bsc{background-size:cover}.md-bsi{background-size:initial}.md-baf{background-attachment:fixed}.md-tar{text-align:right}.md-tal{text-align:left}.md-tac{text-align:center}.md-taj{text-align:justify}.md-fr{float:right}.md-fl{float:left}.md-fn{float:none}.md-clb{clear:both}.md-clr{clear:right}.md-cll{clear:left}.md-cln{clear:none}.md-ps{position:static}.md-pr{position:relative}.md-pa{position:absolute}.md-pf{position:fixed}.md-pi{position:initial}.md-sticky{position:sticky}.md-db{display:block}.md-di{display:inline-block}.md-dn{display:none}.md-dt{display:table}.md-dtc{display:table-cell}.md-vh{visibility:hidden}.md-vv{visibility:visible}.md-vi{visibility:initial}.md-df{display:flex}.md-dif{display:inline-flex}.md-fdr{flex-direction:row}.md-fdrr{flex-direction:row-reverse}.md-fdc{flex-direction:column}.md-fdcr{flex-direction:column-reverse}.md-fwn{flex-wrap:nowrap}.md-fw{flex-wrap:wrap}.md-fwr{flex-wrap:wrap-reverse}.md-jcfs{justify-content:flex-start}.md-jcfe{justify-content:flex-end}.md-jcc{justify-content:center}.md-jcsb{justify-content:space-between}.md-jcsa{justify-content:space-around}.md-acs{align-content:stretch}.md-acfs{align-content:flex-start}.md-acfe{align-content:flex-end}.md-acc{align-content:center}.md-acsb{align-content:space-between}.md-acsa{align-content:space-around}.md-ais{align-items:stretch}.md-aifs{align-items:flex-start}.md-aife{align-items:flex-end}.md-aic{align-items:center}.md-aib{align-items:baseline}.md-asa{align-self:auto}.md-ass{align-self:stretch}.md-asfs{align-self:flex-start}.md-asfe{align-self:flex-end}.md-asc{align-self:center}.md-asb{align-self:baseline}.md-tlf{table-layout:fixed}.md-fsn{font-style:normal}.md-fsi{font-style:italic}.md-fso{font-style:oblique}.md-fs.initial{font-style:initial}.md-fs.inherit{font-style:inherit}.md-wb{word-break:break-all}.md-wsn{white-space:nowrap}.md-wsp{white-space:pre}.md-wspl{white-space:pre-line}.b0,.md-bn{border:0}.md-bt0{border-top:0}.md-br0{border-right:0}.md-bb0{border-bottom:0}.md-bl0{border-left:0}.md-vat{vertical-align:top}.md-vam{vertical-align:middle}.md-vab{vertical-align:bottom}.md-oa{overflow:auto}.md-oh{overflow:hidden}.md-oxh{overflow-x:hidden}.md-oyh{overflow-y:hidden}.md-oxa{overflow-x:auto}.md-oya{overflow-y:auto}.md-cp{cursor:pointer}.md-cd{cursor:default}.md-cm{cursor:move}.md-ct{cursor:text}.md-cw{cursor:wait}.md-cn{cursor:none}

}
/* [ .sm- ] Small */
@media(max-width:768px){
    .sm-bnc{background:center no-repeat}.sm-bnt{background:top no-repeat}.sm-bnb{background:bottom no-repeat}.sm-bsc{background-size:cover}.sm-bsi{background-size:initial}.sm-baf{background-attachment:fixed}.sm-tar{text-align:right}.sm-tal{text-align:left}.sm-tac{text-align:center}.sm-taj{text-align:justify}.sm-fr{float:right}.sm-fl{float:left}.sm-fn{float:none}.sm-clb{clear:both}.sm-clr{clear:right}.sm-cll{clear:left}.sm-cln{clear:none}.sm-ps{position:static}.sm-pr{position:relative}.sm-pa{position:absolute}.sm-pf{position:fixed}.sm-pi{position:initial}.sm-sticky{position:sticky}.sm-db{display:block}.sm-di{display:inline-block}.sm-dn{display:none}.sm-dt{display:table}.sm-dtc{display:table-cell}.sm-vh{visibility:hidden}.sm-vv{visibility:visible}.sm-vi{visibility:initial}.sm-df{display:flex}.sm-dif{display:inline-flex}.sm-fdr{flex-direction:row}.sm-fdrr{flex-direction:row-reverse}.sm-fdc{flex-direction:column}.sm-fdcr{flex-direction:column-reverse}.sm-fwn{flex-wrap:nowrap}.sm-fw{flex-wrap:wrap}.sm-fwr{flex-wrap:wrap-reverse}.sm-jcfs{justify-content:flex-start}.sm-jcfe{justify-content:flex-end}.sm-jcc{justify-content:center}.sm-jcsb{justify-content:space-between}.sm-jcsa{justify-content:space-around}.sm-acs{align-content:stretch}.sm-acfs{align-content:flex-start}.sm-acfe{align-content:flex-end}.sm-acc{align-content:center}.sm-acsb{align-content:space-between}.sm-acsa{align-content:space-around}.sm-ais{align-items:stretch}.sm-aifs{align-items:flex-start}.sm-aife{align-items:flex-end}.sm-aic{align-items:center}.sm-aib{align-items:baseline}.sm-asa{align-self:auto}.sm-ass{align-self:stretch}.sm-asfs{align-self:flex-start}.sm-asfe{align-self:flex-end}.sm-asc{align-self:center}.sm-asb{align-self:baseline}.sm-tlf{table-layout:fixed}.sm-fsn{font-style:normal}.sm-fsi{font-style:italic}.sm-fso{font-style:oblique}.sm-fs.initial{font-style:initial}.sm-fs.inherit{font-style:inherit}.sm-wb{word-break:break-all}.sm-wsn{white-space:nowrap}.sm-wsp{white-space:pre}.sm-wspl{white-space:pre-line}.b0,.sm-bn{border:0}.sm-bt0{border-top:0}.sm-br0{border-right:0}.sm-bb0{border-bottom:0}.sm-bl0{border-left:0}.sm-vat{vertical-align:top}.sm-vam{vertical-align:middle}.sm-vab{vertical-align:bottom}.sm-oa{overflow:auto}.sm-oh{overflow:hidden}.sm-oxh{overflow-x:hidden}.sm-oyh{overflow-y:hidden}.sm-oxa{overflow-x:auto}.sm-oya{overflow-y:auto}.sm-cp{cursor:pointer}.sm-cd{cursor:default}.sm-cm{cursor:move}.sm-ct{cursor:text}.sm-cw{cursor:wait}.sm-cn{cursor:none}

}
/* [ .es- ] Extra Small */
@media(max-width:640px){
    .es-bnc{background:center no-repeat}.es-bnt{background:top no-repeat}.es-bnb{background:bottom no-repeat}.es-bsc{background-size:cover}.es-bsi{background-size:initial}.es-baf{background-attachment:fixed}.es-tar{text-align:right}.es-tal{text-align:left}.es-tac{text-align:center}.es-taj{text-align:justify}.es-fr{float:right}.es-fl{float:left}.es-fn{float:none}.es-clb{clear:both}.es-clr{clear:right}.es-cll{clear:left}.es-cln{clear:none}.es-ps{position:static}.es-pr{position:relative}.es-pa{position:absolute}.es-pf{position:fixed}.es-pi{position:initial}.es-sticky{position:sticky}.es-db{display:block}.es-di{display:inline-block}.es-dn{display:none}.es-dt{display:table}.es-dtc{display:table-cell}.es-vh{visibility:hidden}.es-vv{visibility:visible}.es-vi{visibility:initial}.es-df{display:flex}.es-dif{display:inline-flex}.es-fdr{flex-direction:row}.es-fdrr{flex-direction:row-reverse}.es-fdc{flex-direction:column}.es-fdcr{flex-direction:column-reverse}.es-fwn{flex-wrap:nowrap}.es-fw{flex-wrap:wrap}.es-fwr{flex-wrap:wrap-reverse}.es-jcfs{justify-content:flex-start}.es-jcfe{justify-content:flex-end}.es-jcc{justify-content:center}.es-jcsb{justify-content:space-between}.es-jcsa{justify-content:space-around}.es-acs{align-content:stretch}.es-acfs{align-content:flex-start}.es-acfe{align-content:flex-end}.es-acc{align-content:center}.es-acsb{align-content:space-between}.es-acsa{align-content:space-around}.es-ais{align-items:stretch}.es-aifs{align-items:flex-start}.es-aife{align-items:flex-end}.es-aic{align-items:center}.es-aib{align-items:baseline}.es-asa{align-self:auto}.es-ass{align-self:stretch}.es-asfs{align-self:flex-start}.es-asfe{align-self:flex-end}.es-asc{align-self:center}.es-asb{align-self:baseline}.es-tlf{table-layout:fixed}.es-fsn{font-style:normal}.es-fsi{font-style:italic}.es-fso{font-style:oblique}.es-fs.initial{font-style:initial}.es-fs.inherit{font-style:inherit}.es-wb{word-break:break-all}.es-wsn{white-space:nowrap}.es-wsp{white-space:pre}.es-wspl{white-space:pre-line}.b0,.es-bn{border:0}.es-bt0{border-top:0}.es-br0{border-right:0}.es-bb0{border-bottom:0}.es-bl0{border-left:0}.es-vat{vertical-align:top}.es-vam{vertical-align:middle}.es-vab{vertical-align:bottom}.es-oa{overflow:auto}.es-oh{overflow:hidden}.es-oxh{overflow-x:hidden}.es-oyh{overflow-y:hidden}.es-oxa{overflow-x:auto}.es-oya{overflow-y:auto}.es-cp{cursor:pointer}.es-cd{cursor:default}.es-cm{cursor:move}.es-ct{cursor:text}.es-cw{cursor:wait}.es-cn{cursor:none}

}
/* [ .us- ] Ultra Small */
@media(max-width:420px){
    .us-bnc{background:center no-repeat}.us-bnt{background:top no-repeat}.us-bnb{background:bottom no-repeat}.us-bsc{background-size:cover}.us-bsi{background-size:initial}.us-baf{background-attachment:fixed}.us-tar{text-align:right}.us-tal{text-align:left}.us-tac{text-align:center}.us-taj{text-align:justify}.us-fr{float:right}.us-fl{float:left}.us-fn{float:none}.us-clb{clear:both}.us-clr{clear:right}.us-cll{clear:left}.us-cln{clear:none}.us-ps{position:static}.us-pr{position:relative}.us-pa{position:absolute}.us-pf{position:fixed}.us-pi{position:initial}.us-sticky{position:sticky}.us-db{display:block}.us-di{display:inline-block}.us-dn{display:none}.us-dt{display:table}.us-dtc{display:table-cell}.us-vh{visibility:hidden}.us-vv{visibility:visible}.us-vi{visibility:initial}.us-df{display:flex}.us-dif{display:inline-flex}.us-fdr{flex-direction:row}.us-fdrr{flex-direction:row-reverse}.us-fdc{flex-direction:column}.us-fdcr{flex-direction:column-reverse}.us-fwn{flex-wrap:nowrap}.us-fw{flex-wrap:wrap}.us-fwr{flex-wrap:wrap-reverse}.us-jcfs{justify-content:flex-start}.us-jcfe{justify-content:flex-end}.us-jcc{justify-content:center}.us-jcsb{justify-content:space-between}.us-jcsa{justify-content:space-around}.us-acs{align-content:stretch}.us-acfs{align-content:flex-start}.us-acfe{align-content:flex-end}.us-acc{align-content:center}.us-acsb{align-content:space-between}.us-acsa{align-content:space-around}.us-ais{align-items:stretch}.us-aifs{align-items:flex-start}.us-aife{align-items:flex-end}.us-aic{align-items:center}.us-aib{align-items:baseline}.us-asa{align-self:auto}.us-ass{align-self:stretch}.us-asfs{align-self:flex-start}.us-asfe{align-self:flex-end}.us-asc{align-self:center}.us-asb{align-self:baseline}.us-tlf{table-layout:fixed}.us-fsn{font-style:normal}.us-fsi{font-style:italic}.us-fso{font-style:oblique}.us-fs.initial{font-style:initial}.us-fs.inherit{font-style:inherit}.us-wb{word-break:break-all}.us-wsn{white-space:nowrap}.us-wsp{white-space:pre}.us-wspl{white-space:pre-line}.b0,.us-bn{border:0}.us-bt0{border-top:0}.us-br0{border-right:0}.us-bb0{border-bottom:0}.us-bl0{border-left:0}.us-vat{vertical-align:top}.us-vam{vertical-align:middle}.us-vab{vertical-align:bottom}.us-oa{overflow:auto}.us-oh{overflow:hidden}.us-oxh{overflow-x:hidden}.us-oyh{overflow-y:hidden}.us-oxa{overflow-x:auto}.us-oya{overflow-y:auto}.us-cp{cursor:pointer}.us-cd{cursor:default}.us-cm{cursor:move}.us-ct{cursor:text}.us-cw{cursor:wait}.us-cn{cursor:none}

}




















